.animation-text {
    display: inline-block;
    font-size: 24px;
    font-family: 'Courier New', monospace;
    white-space: pre;
    color: black;
    overflow: hidden;
}

.button {
    background: none;
    color: green;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 70%;
    max-width: 50rem;
    font-size: 20px;
}

.animation-text.animate {
    animation: typing 4s steps(40, end) infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.underscore {
    display: inline-block;
    animation: underscore-blink 0.3s infinite;
    opacity: 0;
}

@keyframes underscore-blink {
    50% {
        opacity: 1;
    }
}