.form_container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login_form {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
    color: black;
    background-color: 	#F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border-radius: 10px;
    margin: 0.5rem;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

.btnSubmit {
    border-radius: 20px;
    margin-top: 2rem;
    width: 72%;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: orange;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.link_btn {
    background: none;
    color: orange;
    text-decoration: underline;
    cursor: pointer;

}